html {
    font-size: 14px;
    --bs-bg-opacity: 1;
    --color-main: 82,79,157;
    --color-second: 166,178,236;
    --color-attention: 64,0,114;
    --bg-color: 31,35,38;
    --error-color: 198,81,92;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    /*background-color: rgb(var(--bg-color));*/
    background-image: linear-gradient(79.8deg,#151515 12.76%,#1b1b1c 40.99%,#262729 94.64%);
    color: aliceblue;
}

.arrow-top-left {
    padding: 10px 10px;
    position: relative;
    background: #eee;
    border-radius: 3px;
}

    .arrow-top-left:before {
        content: "";
        border: solid transparent;
        position: absolute;
        left: 8px;
        bottom: 100%;
        border-bottom-color: #eee;
        border-width: 9px;
        margin-left: 0;
    }

.arrow-top-right {
    padding: 10px 10px;
    position: relative;
    background: #eee;
    border-radius: 3px;
}

    .arrow-top-right:before {
        content: "";
        border: solid transparent;
        position: absolute;
        bottom: 100%;
        right: 8px;
        border-bottom-color: #eee;
        border-width: 9px;
        margin-right: -1px;
    }

.arrow-top-center {
    padding: 10px 10px;
    position: relative;
    background: #eee;
    border-radius: 3px;
}

    .arrow-top-center:before {
        content: "";
        border: solid transparent;
        position: absolute;
        bottom: 100%;
        left: 50%;
        border-bottom-color: #eee;
        border-width: 9px;
        margin-left: -9px;
    }


.arrow-bottom-left {
    padding: 10px 10px;
    position: relative;
    background: #eee;
    border-radius: 3px;
}

    .arrow-bottom-left:before {
        content: "";
        border: solid transparent;
        position: absolute;
        top: 100%;
        left: 16px;
        border-top-color: #eee;
        border-width: 9px;
        margin-left: -1px;
    }

.arrow-bottom-center {
    padding: 10px 10px;
    position: relative;
    background: #eee;
    border-radius: 3px;
}

    .arrow-bottom-center:before {
        content: "";
        border: solid transparent;
        position: absolute;
        top: 100%;
        left: 50%;
        border-top-color: #eee;
        border-width: 9px;
        margin-left: -9px;
    }

.arrow-bottom-right {
    padding: 10px 10px;
    position: relative;
    background: #eee;
    border-radius: 3px;
}

    .arrow-bottom-right:before {
        content: "";
        border: solid transparent;
        position: absolute;
        top: 100%;
        right: 8px;
        border-top-color: #eee;
        border-width: 9px;
        margin-right: -1px;
    }

.arrow-start-up {
    padding: 20px 10px;
    position: relative;
    background: #eee;
    border-radius: 3px;
}

    .arrow-start-up:before {
        content: "";
        border: solid transparent;
        position: absolute;
        right: 100%;
        top: 8px;
        border-right-color: #eee;
        border-width: 9px;
        margin-top: -1px;
    }

.arrow-start-center {
    padding: 20px 10px;
    position: relative;
    background: #eee;
    border-radius: 3px;
}

    .arrow-start-center:before {
        content: "";
        border: solid transparent;
        position: absolute;
        right: 100%;
        top: 50%;
        border-right-color: #eee;
        border-width: 9px;
        margin-top: -9px;
    }

.arrow-start-down {
    padding: 20px 10px;
    position: relative;
    background: #eee;
    border-radius: 3px;
}

    .arrow-start-down:before {
        content: "";
        border: solid transparent;
        position: absolute;
        right: 100%;
        bottom: 8px;
        border-right-color: #eee;
        border-width: 9px;
        margin-bottom: -1px;
    }

.arrow-end-up {
    padding: 20px 10px;
    position: relative;
    background: #eee;
    border-radius: 3px;
}

    .arrow-end-up:before {
        content: "";
        border: solid transparent;
        position: absolute;
        left: 100%;
        top: 8px;
        border-left-color: #eee;
        border-width: 9px;
        margin-top: -1px;
    }

.arrow-end-center {
    padding: 20px 10px;
    position: relative;
    background: #eee;
    border-radius: 3px;
}

    .arrow-end-center:before {
        content: "";
        border: solid transparent;
        position: absolute;
        left: 100%;
        top: 50%;
        border-left-color: #eee;
        border-width: 9px;
        margin-top: -9px;
    }

.arrow-end-down {
    padding: 20px 10px;
    position: relative;
    background: #eee;
    border-radius: 3px;
}

    .arrow-end-down:before {
        content: "";
        border: solid transparent;
        position: absolute;
        left: 100%;
        bottom: 8px;
        border-left-color: #eee;
        border-width: 9px;
        margin-bottom: -1px;
    }

.collapsible-link::before {
    content: '';
    width: 14px;
    height: 2px;
    background: #333;
    position: absolute;
    top: calc(50% - 1px);
    right: 1rem;
    display: block;
    transition: all 0.3s;
}

.accordion-button:not(.collapsed) {
    color: #ffffff !important;
    background-color: rgb(var(--color-main)) !important;
}

.accordion-item {
    background-color: rgb(var(--color-second)) !important;
    color: black;
}

.card {
    border-radius: unset;
    border: unset !important;
}

.collapsible-link::after {
    content: '';
    width: 2px;
    height: 14px;
    background: #333;
    position: absolute;
    top: calc(50% - 7px);
    right: calc(1rem + 6px);
    display: block;
    transition: all 0.3s;
}

.collapsible-link:not(.collapsed) {
    box-shadow: none !important;
}

.collapsible-link[aria-expanded='true']::after {
    transform: rotate(90deg) translateX(-1px);
}

.collapsible-link[aria-expanded='true']::before {
    transform: rotate(180deg);
}

.main_accent {
    background-color: rgba(var(--color-main), var(--bs-bg-opacity));
    color: whitesmoke;
}

.main_accent_text {
    color: rgb(var(--color-main)) !important;
}

.secondary_accent {
    background-color: rgba(var(--color-second), var(--bs-bg-opacity));
}

.secondary_accent_text {
    color: rgb(var(--color-second)) !important;
}

.attention {
    color: honeydew;
    background-color: rgba(var(--color-attention), var(--bs-bg-opacity));
}

.link_secondary {
    color: #A6B2EC !important;
    cursor: pointer;
}

    .link_secondary:hover {
        color: #8191e4 !important;
    }

.home_input {
    height: 30px;
}

.arrow-top-left {
    padding: 10px 10px;
    position: relative;
    background: #eee;
    border-radius: 3px;
}

.arrow-top-right {
    padding: 10px 10px;
    position: relative;
    background: #eee;
    border-radius: 3px;
}


.login-form {
    display: none;
    position: absolute;
    left: -275%;
    top: 160%;
}

    .login-form:before {
        content: "";
        border: solid transparent;
        position: absolute;
        bottom: 100%;
        right: 8px;
        border-bottom-color: #eee;
        border-width: 9px;
        margin-right: -1px;
    }

@media (max-width: 575px) {
    .login-form {
        display: none;
        left: 0%;
        top: 160%;
        position: relative;
    }

        .login-form:before {
            content: "";
            border: solid transparent;
            position: absolute;
            left: 8px;
            right: unset;
            bottom: 100%;
            border-bottom-color: #eee;
            border-width: 9px;
            margin-left: 0;
            margin-right: unset;
        }
}
.nav-link.active {
    color: #fff !important;
    background-color: rgb(var(--color-main)) !important;
}
.dropdown-menu[data-bs-popper] {
    left: -65% !important;
}

.profile
{
    flex-direction: row;
}


@media (max-width: 575px) {
    .profile {
        flex-direction: column-reverse !important;
    }
}

.text-error
{
    color: rgb(var(--error-color)) !important;
}
.error {
    background-color: rgb(var(--error-color)) !important;
    color: whitesmoke;
}
.text-success
{
    color: rgb(var(--color-attention)) !important;
}
.card-header:first-child {
    border-radius: calc(0.37rem - 1px) calc(0.37rem - 1px) 0 0
}

.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1)
}

.track {
    position: relative;
    background-color: #ddd;
    height: 7px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 60px;
    margin-top: 50px
}

    .track .step {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        width: 25%;
        margin-top: -18px;
        text-align: center;
        position: relative
    }

        .track .step.active:before {
            background-color: rgb(var(--color-main));
        }

        .track .step::before {
            height: 7px;
            position: absolute;
            content: "";
            width: 100%;
            left: 0;
            top: 18px
        }

        .track .step.active .icon {
            background-color: rgb(var(--color-main));
            color: #fff
        }

    .track .icon {
        display: inline-block;
        width: 40px;
        height: 40px;
        line-height: 40px;
        position: relative;
        border-radius: 100%;
        background: #ddd
    }

    .track .step.active .text {
        font-weight: 400;
        color: rgb(var(--color-second))
    }

    .track .text {
        display: block;
        margin-top: 7px
    }

.itemside {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%
}

    .itemside .aside {
        position: relative;
        -ms-flex-negative: 0;
        flex-shrink: 0
    }

.img-sm {
    width: 80px;
    height: 80px;
    padding: 7px
}

ul.row, ul.row-sm {
    list-style: none;
    padding: 0
}

.itemside .info {
    padding-left: 15px;
    padding-right: 7px
}

.itemside .title {
    display: block;
    margin-bottom: 5px;
    color: #212529
}
.modal-content{
    background-color: rgb(var(--bg-color)) !important;
}