@model TransportationService.WEB.Models.ResetPasswordViewModel
<div class="row">
    <div class="col-md-4">
        <form class="min-vw-50 mw-25 position-absolute top-50 start-50 translate-middle
                m-auto text-center bg-secondary bg-opacity-10 rounded-3 p-4"
                asp-action="ResetPassword" asp-anti-forgery="true">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Token" />
            <img src="~/src/images/logo.svg" alt="" width="72" height="72">
            <h1 class="h3 mb-3 fw-normal text-center">Сбросить пароль</h1>

            <div class="form-group mb-2 d-flex p-0 flex-column">
                <label asp-for="Password" class="control-label"></label>
                <input type="text" asp-for="Password" class="form-control col" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group mb-2 d-flex p-0 flex-column">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input type="text" asp-for="ConfirmPassword" class="form-control col" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сбросить" class="btn btn-secondary rounded-pill" />
            </div>
        </form>
    </div>
</div>
@* <form class="min-vw-50 mw-25 position-absolute top-50 start-50 translate-middle
        m-auto text-center bg-secondary bg-opacity-10 rounded-3 p-4" id="resetPasswordForm"
      asp-action="GetResetPasswordLink" asp-controller="Account" asp-anti-forgery="true">
    <img src="~/src/images/logo.svg" alt="" width="72" height="72">
    <div class="validation alert-danger" asp-validation-summary="All"></div>
    <h1 class="h3 mb-3 fw-normal text-center">Сбросить пароль</h1>

    <div class="form-group mb-2 d-flex p-0 flex-column">
        <label for="email">Эл. почта или номер телефона</label>
        <input type="email" name="authString" class="form-control" placeholder="somemail@example.com">
    </div>
    <span id="resetPasswordLogSpan" class="form-group mb-2 text-danger small">
    </span>
    <div class="form-group">
        <button class="btn btn-secondary rounded-pill" type="button" id="resetPasswordButton">Сбросить</button>
    </div>
</form> *@
@section Scripts {
    <script src="~/js/GetGeneratedPassword.js" asp-append-version="true"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}