@using TransportationService.WEB.Data
@using TransportationService.WEB.Data.Entities
@inject ApplicationDbContext<User> context
@{
    ViewData["Title"] = "Home Page";
}

<div style="display:flex; justify-content:center;">
    <div style="display:grid;
    justify-content: center;
    grid-row-gap: 2rem;
    grid-column-gap:2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        'order calc'
        'track track';">
        <div style="grid-area:order; flex: 1 0 auto;">
            <h4>Заказать нерудные стройматериалы</h4>
            <form style="display:grid; row-gap:20px; vertical-align:baseline;" asp-action="Cargo" asp-controller="Order" asp-area="">
                <div class="form-group home_input">
                    <select name="cargoId" required>
                        @foreach(Cargo cargo in context.Cargos)
                        {
                            <option value="@cargo.Id">@cargo.Name</option>
                        }
                    </select>
                </div>
                <div class="form-group home_input"></div>
                <div class="form-group ">
                    <input type="submit" class="btn main_accent text-light" value="Заказать" />
                </div>
            </form>
        </div>
        <div style="grid-area:track; display:flex;">
            <form class="container-fluid d-flex m-0 p-0 flex-column">
                <h4>Уже есть заказ? Найдите его по уникальному номеру:</h4>
                <div class="form-group container-fluid d-flex m-0 p-0">
                    <input class="form-control" type="text" />
                    <button class="ms-1 btn main_accent bg-opacity-75" type="submit"><img src="~/src/images/browse.svg" width="25px" height="25px" /></button>
                </div>
                </form>
        </div>
        <div style="grid-area:calc; flex: 1 0 auto">
            <h4>Рассчитать стоимость перевозки</h4>
            <form style="display:grid; row-gap:20px; vertical-align:baseline;">
                <div class="form-group home_input">
                    <input type="text" placeholder="Откуда"/>
                </div>
                <div class="form-group home_input">
                    <input type="text" placeholder="Куда"/>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn main_accent text-light" value="Рассчитать" />
                </div>

            </form>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        
    </script>
}
