@inject Microsoft.AspNetCore.Mvc.IUrlHelper Url
@model string;
<div id="message-container">
    @Html.Raw( Model )
</div>
<a class="nav-link btn btn-link secondary_accent_text" asp-action="Index">На главную</a>