@using Microsoft.AspNetCore.Identity
@using TransportationService.WEB.Data.Entities
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TransportationService.WEB</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TransportationService.WEB.styles.css" asp-append-version="true" />
</head>
@* background-image:linear-gradient(79.8deg,#151515 12.76%,#1b1b1c 40.99%,#262729 94.64%) color:aliceblue; *@
<body style="overflow: auto;">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a asp-area="" asp-controller="Home" asp-action="Index"><img alt="logo" height="75px" width="75px" src="~/src/images/logo.svg"/></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Услуги</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Поддержка</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
                            </li>
                            <li class="nav-item">
                                <a asp-action="LogOut" asp-controller="Account" class="nav-link btn btn-link text-dark">Выйти</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <div class="position-relative">
                                    <button type="button" class="nav-link bg-secondary text-light" id="loginButton" asp-area="Identity" asp-page="/Account/Login">Войти</button>
                                    <div class="arrow-top-right bg-secondary bg-opacity-25 p-2 ps-3 pe-3 mt-2" id="loginFormDiv" style="display:none; position:absolute; left:-275%; top:160%;">
                                        <form id="loginForm" class="m-0 p-0 container-fluid">
                                            <h3 class="text-center">
                                                Вход
                                            </h3>                        <div class="input-group mb-2">
                                                <input name="AuthString" type="tel" placeholder="Номер телефона" />
                                            </div>
                                            <div class="input-group mb-2">
                                                <input name="Password" type="password" placeholder="Пароль" />
                                            </div>
                                            <span id="errorLoginSpan" class="text-danger small text-center"></span>
                                            <div class="container">
                                                <div class="row mb-2">
                                                    <div class="col-12 d-flex justify-content-center align-self-center">
                                                        <button type="submit" id="authButton" class="btn bg-secondary bg-opacity-25">Войти</button>
                                                    </div>
                                                </div>
                                                <div class="row d-flex">
                                                    <div class="col-6 d-flex justify-content-start align-self-start p-0">
                                                        <a asp-action="Register" asp-controller="Account" style="font-size:.77rem;">Регистрация</a>
                                                    </div>
                                                    <div class="col-6 d-flex justify-content-end align-self-end p-0">
                                                        <a style="font-size:.77rem;">Забыли пароль?</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                    
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - TransportationService.WEB - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
