@using Microsoft.AspNetCore.Identity
@using TransportationService.WEB.Data.Entities
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <div class="position-relative">
                <button type="button" class="nav-link bg-secondary text-light" asp-area="Identity" asp-page="/Account/Login">Войти</button>
                <div class="form-login bg-secondary bg-opacity-25 p-2 mt-2" style="position:absolute; left:-250%; top:150%;">
                    <form class="m-0 p-0 container-fluid">
                        <div class="input-group me-1">
                            <input type="text"/>
                        </div>
                        <div class="input-group me-1">
                            <input type="text" />
                        </div>
                        <div class="container-fluid d-flex flex-column align-items-center">
                            <div class="input-group">
                                <button class="btn bg-secondary bg-opacity-25"></button>
                            </div>
                            <div class="container-fluid d-flex">
                                <div class="input-group col-6">
                                    <button class="btn bg-secondary bg-opacity-25"></button>
                                </div>
                                <div class="input-group col-6">
                                    <button class="btn bg-secondary bg-opacity-25"></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
        </div>
    </li>
}
</ul>
