@using TransportationService.WEB.Areas.Manage.Models
@model AddServiceViewModel
<div class="container">
    <div class="row py-5">
        <div class="col-lg-9 mx-auto text-center">
            <p class="lead mb-0 secondary_accent_text">Добавить товар</p>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-9 mx-auto">
            <form asp-action="Add">
                <div asp-validation-summary="All" class="text-error"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-error"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <textarea asp-for="Price" class="form-control"></textarea>
                    <span asp-validation-for="Price" class="text-error"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Quantity" class="control-label"></label>
                    <textarea asp-for="Quantity" class="form-control"></textarea>
                    <span asp-validation-for="Quantity" class="text-error"></span>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn attention form-control" value="Добавить"/>
                </div>
            </form>
        </div>
    </div>
</div>